/*-------------------375PX-667PX---------------------------------------------***/
@media only screen and (min-width:375px) and (max-width: 667px){
/**---------------------HR LINE FOR ORANGERED STYLE CSS IMPORTANT BORDER-LINE--------------------*/
.hr-style-line{
    margin-left: 145px;
    padding: 0px;
    margin-top: 0px;
}

.open-365days a i{  
    margin-left: 20px;
}
.meal-photo{
    width: 250px;
    margin-left: 8px;
}

  /***---------------HR STYLE LINE 2 HOW IT WORKS----------------**/
  .hr-style-line2{
    margin-left: 140px;
    margin-top: 0px;
    padding: 0px;
 
  }


   /**------------------------SPAN CIRCLE DOTS----------------------- **/
   span.dot{
    width: 12%;
 }

 /**--------------------------DOT HOVER EFFECTS---------------------------**/
 span.dot:hover{
     transition-delay: 45ms;
     background-color: rgba(255, 68, 0, 0.877);
 }

 /**-------------------------INNER ARTICLE OPTIONS--------------------- **/
 article.options{
     font-size: 0.9rem;   
 }
 /**---------------------------OUR LOCATION AND BRANCHES----------------------**/
 /**-----------------------HR STYLE LINE 3 HOW IT WORKS---------------------*/
     .hr-style-line3{    
       margin-left: 145px;  
   }
 /**-------------------------------BRANCH ELEMENTS---------------------------------***/
 h6{ 
   font-size: 1rem;
  
}

 /***---------------------DIV UNIQUE SECTION WITH BANNER-----------------------------***/
 .unqiue-review-box{
     height: 450px;  
     margin-top: 0px;  
 }

/**--------------------HEADER INSIDE THE DIV BOX---------------------------------**/
 h5{
    font-size: 1rem;
    margin-bottom: 0px;
  }
  span.branch-info{
      font-size: 0.8rem;
  }

/**---------------------------REVIEW PART AS FLEX WRAPPER------------------------------**/
  .review-left,
   .review-mid,
   .review-right{
    font-size: 0.6rem;
    margin: 5px 10px;  
  }

/*-----------------*CONTACT US OR SIGN UP PART STARTS-----------------------------------------------
/**-----------------------------------------------------------------------------------------------**/ 
.form-part{
    padding:0px 10px;
   }
   
   #comment{
    width: 90%;
   }

}
